.Home {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .Post {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 20px 0;
    flex: 1 0 30%;

    .Title {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 15px;
      line-height: 20px;
      max-width: 250px;
    }

    .ImgBlock {
      width: 250px;
      padding: 5px;
      border: 2px solid #5383a9;
      border-radius: 5px;

      .Img {
        width: 100%;
      }
    }

    .Author {
      margin-top: 10px;
    }
  }

  .Bold {
    font-weight: bold;
  }
}